
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Food Monkey<br />
    Food Monkey, Gurugram<br />
    <abbr title="Phone">Phone:</abbr>
    0123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@foodmonkey.com">Support@foodmonkey.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@foodmonkey.com">Marketing@foodmonkey.com</a>
</address>